.searchbox {
    border: 1px solid white !important;
} 
/* .searchpage {
    border: 1px solid white !important;
} */
/* .btn {
    margin-right: 275px !important;
    margin-left: 275px !important;
} */